{% extends "base.html" %}

{% block title %}Instances{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Instances</h1>
    </div>
    <a href="{{ url_for('instances.create') }}"><button type="button" class="btn btn-success">Create</button></a>
    <br /><br /><br />
    <div class="row" style="font-weight: bold">
        <div class="col-md-1">Name</div>
        <div class="col-md-1">Status</div>
    </div>
    <br />
    {% for i in instances %}
    <div class="row" style="line-height: 60px">
        <div class="col-md-1"><a href="{{ url_for('instances.instanceslist') }}{{ i.get('id') }}">{{ i.get('name') }}</a></div>
        <div class="col-md-1">{{ i.get('status') }}</div>
        <div class="col-md-1">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if i.get('status')=='ACTIVE' %}
                    <li><a href="{{ url_for('instances.instanceslist') }}reboot/{{ i.get('id') }}">Reboot</a></li>
                    <li><a href="{{ url_for('instances.instanceslist') }}stop/{{ i.get('id') }}">Stop</a></li>
                    {% elif i.get('status')=='SHUTOFF' %}
                    <li><a href="{{ url_for('instances.instanceslist') }}start/{{ i.get('id') }}">Start</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('instances.instanceslist') }}delete/{{ i.get('id') }}">Delete</a></li>
                </ul>
            </div>
         </div>
         {% if i.get('status')=='ACTIVE' %}
         <div class="col-md-1">
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">Tools <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ url_for('instances.instanceslist') }}log/{{ i.get('id') }}">Log</a></li>
                    <li><a href="{{ instance.consoleInstance(i.get('id')) }}">Console</a></li>
                </ul>
            </div>
         </div>
         {% endif %}
    </div>
    {% endfor %}

    {#<div class="page-header">
        <h1>Keypairs</h1>
    </div>#}

{% endblock %}